*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font: 16px/1.4 "Roboto", sans-serif;
  background-color: var(--clr-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
}

label {
  cursor: pointer;
}

button {
  background-color: transparent;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  border-radius: 0;
  outline: none;
  margin: 0;
  border: 0;
}

input {
  outline: none;
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}
